/* You can add global styles to this file, and also import other style files */
body {
    background: url(assets/images/background.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 10px;
    font-family: 'PT Sans', sans-serif;
    color: white;
    margin: 0;
    padding: 0;
}
