.game-phase {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: auto;
}

.game-phase-icon {
    color: yellow;
}

.game-phase-text {
    max-width: 25%;
    margin-right: 12px;
    font-size: 18px;
    font-style: italic;
    text-align: right;
}

@media only screen and (max-width: 480px) {
    .game-phase-text {
        max-width: 50%;
        font-size: 18px;
    }
}
