<<<<<<< HEAD
.lobby {
    color: white;
}

=======
>>>>>>> ce473106c1ad01ea88edad61335f1f83bec10dd5
.container-mid {
    margin: 0;
    /* position: absolute;
    top: 70%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); */
    max-width: 480px;
<<<<<<< HEAD
=======
    border: white 5px solid;  
>>>>>>> ce473106c1ad01ea88edad61335f1f83bec10dd5
  }
  
  .details {
      padding: 20px 0px;
      font-size: 25px;
  }
  
  .room {
      font-size: 40px !important;
      font-weight: bold !important;
  }

  .room-lobby {
      margin-bottom: 8px;
  }

  .room-code-text { font-size: 25px !important; }
  .room-code-code { font-size: 30px !important; font-family: 'Courier New', Courier, monospace;} 
  
  .player {
      border: white 2px solid;
      padding: 8px 0;
      margin: 4px 0;
      text-transform: uppercase;
      font-size: 25px;
      font-weight: 100;
  }

  .lobby-message {
      margin-bottom: 12px;
  }