<div class="container container-sm">
    <div class="row justify-content-center">
        <div class="col text-center container-mid">

            <div class="details room">
                <div class="room-lobby">LOBBY</div>                    
                <div class="room-code-text">Room Code:</div>                    
                <div class="room-code-code">X1Y2Z3</div>
            </div>

            <div class="details">
                <div class="player">
                    <span>Louise</span>
                </div>
                <div class="player">
                    <span>Zel</span>
                </div>
                <div class="player">
                    <span>Tricia</span>
                </div>
                <div class="player">
                    <span>Louise</span>
                </div>
                <div class="player">
                    <span>Zel</span>
                </div>
                <div class="player">
                    <span>Tricia</span>
                </div>
                <div class="player">
                    <span>Louise</span>
                </div>
                <div class="player">
                    <span>Zel</span>
                </div>
                <div class="player">
                    <span>Tricia</span>
                </div>
                <div class="player">
                    <span>Louise</span>
                </div>
                
            </div>

            <div class="details">
                <div><span>Waiting for other players to join...</span></div>
                <a href="#" class="btn btn-danger btn-lg">START GAME</a>
            </div>

        </div>
    </div>
</div>
