<div class="container container-sm lobby">
    <div class="row justify-content-center">
        <div class="col text-center container-mid">

            <div class="details room">                  
                <div class="room-code-text">Room Code:</div>                    
                <div class="room-code-code">{{ roomCode }}</div>
            </div>

            <div class="player-count">
                Players in room: <strong>{{ playerList.length }}</strong>
            </div>

            <div class="details" *ngFor="let player of playerList">
                <div class="player">
                    <i class="fa fa-podcast player-host" *ngIf="player.isHost"></i>
                    <span>{{ player.name }}</span>
                </div>
            </div>

            <div class="details">
                <div class="lobby-message">Waiting for other players to join...</div>
                <button
                    class="btn btn-danger btn-lg"
                    *ngIf="isHostPlayer"
                    [disabled]="!canStartGame"
                    (click)="handleStartGame()"
                >
                    START GAME
                </button>
            </div>

        </div>
    </div>
</div>
