<div class="row text-center game-player" [ngClass]="[!player.isAlive ? 'text-muted' : '']">
    <div class="player-details">
        <h5>
            <i class="fa fa-podcast" *ngIf="player.isHost"></i>
            {{ player.name }}
            <small class="player-death" *ngIf="!player.isAlive">({{ player.causeOfDeath }})</small>
        </h5>
        <div class="player-details-role">{{ player.role || '' }}</div>
        <div class="player-details-vote" *ngIf="showVote">
            {{ voteText }}
        </div>
    </div>
    <div class="player-thumbnail">
        <div class="player-thumbnail-container ">
            {{ player.name.charAt(0) }}
        </div>
        <span
            class="badge badge-danger player-thumbnail-badge"
            *ngIf="showVote && player.voteCount && player.voteCount > 0"
        >
            {{ player.voteCount }}
        </span>
    </div>
</div>
