<div class="jumbotron jumbotron-fluid">
    <h1 class="display-4">Welcome to Werewolf!</h1>
  </div>
  <div class="container container-home">
    <form
      class="form"
      #joinGameForm="ngForm"
      (ngSubmit)="joinGameForm.form.valid && onSubmit(joinGameForm)"
    >
      <div class="form-group">
        <label>Enter player name:</label>
        <input
          class="form-control"
          placeholder="Player Name"
          required
          isAlphanumeric
          minlength="4"
          maxlength="8"
          name="playerName"
          [(ngModel)]="playerName"
        />
        <div *ngIf="joinGameForm.form.touched && joinGameForm.form.invalid">
          <small>
            Player name is required and must contain 4-8 alphanumeric characters
          </small>
        </div>
      </div>
      <button
        type="submit"
        class="btn btn-danger btn-lg btn-block"
        [disabled]="joinGameForm.form.invalid"
      >
        JOIN
      </button>
    </form>
  </div>