<div class="container container-home" *ngIf="loadForm">
  <form
    class="form"
    #joinGameForm="ngForm"
    (ngSubmit)="joinGameForm.form.valid && onSubmit(joinGameForm)"
  >
    <!-- TODO: Add Room code field back on future iterations
         when needed
     -->
    <!--
      <div class="form-group">
        <label>Enter Room code:</label>
        <input
          class="form-control"
          placeholder="Room Code"
          required
          minlength="4"
          name="roomCode"
          [(ngModel)]="roomCode"
        />
        <div *ngIf="joinGameForm.form.touched && joinGameForm.form.invalid">
          <small>
            Room code is required
          </small>
        </div>
      </div> -->
    <div class="form-group">
      <label>Enter player name:</label>
      <input
        class="form-control"
        placeholder="Player Name"
        required
        isAlphanumeric
        minlength="4"
        maxlength="8"
        name="playerName"
        [(ngModel)]="playerName"
      />
      <div *ngIf="joinGameForm.form.touched && joinGameForm.form.invalid">
        <small>
          Player name is required and must contain 4-8 alphanumeric characters
        </small>
      </div>
    </div>
    <button
      type="submit"
      class="btn btn-danger btn-lg btn-block"
      [disabled]="joinGameForm.form.invalid"
    >
      JOIN
    </button>
  </form>
</div>