<div class="container container-sm rules-container">
    <div class="col">
        <div class="row">
            Werewolf is a game of deception and deduction you can play with all your friends! Goal is pretty simple - if you're on the good side, find out who the werewolves are while if you're on the bad side, eliminate as much good people as you could without leaving a clue.
        </div>
        <div class="rules-content">
            <div>
                <img src="assets/images/rules/1.png" class="rules-image" />
            </div>
            <div>
                <div class="row">
                    <h2 class="rules-heading">Game Setup</h2>
                </div>
                <div class="row">
                    <ul>
                        <li>Call at least 5 friends.</li>
                        <li>From the join game form, type player name to use.</li>
                        <li>If you're the host, you can click on `Start Game` as soon as everyone's in.</li>
                        <li>On start, a role will be automatically assigned to you.</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="rules-content">
            <div>
                <img src="assets/images/rules/2.png" class="rules-image" />
            </div>
            <div>
                <div class="row">
                    <h2 class="rules-heading">How to Play</h2>
                </div>
                <div class="row">
                    <ul>
                        <li>Each round has 2 phases - day and night. At night, the werewolves go for a hunt and chooses a player to kill. During the day, villagers meet to talk about what happened the past night and figure out who the werewolves are.</li>
                        <li>The game starts a day all players trying to convince everyone that they're on the good side - especially the werewolves.</li>
                        <li>Everyone votes who they think is a werewolf and will be eliminated in the game.</li>
                        <li>As night comes, werewolves (if more than one) talk among themselves who they will eliminate then alpha wolf will be the one to cast in their vote. At the same time, the Seer uses his/her power of peeking another player's role.</li>
                        <li>At the beginning of each day, the player chosen by the werewolves will be eliminated then the remaining villagers will discuss and fiigure out again who the bad guys are.</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="rules-content">
            <div>
                <img src="assets/images/rules/3.png" class="rules-image" />
            </div>
            <div>
                <div class="row">
                    <h2 class="rules-heading">Game End</h2>
                </div>
                <div class="row">
                    The game ends if one of the following conditions is met:
                </div>
                <div class="row">
                    <ul>
                        <li>the number of the remaining werewolves is equal to the number of remaining villagers;</li>
                        <li>all there werewolves have been killed.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
