.rules-container {
    margin-bottom: 40px;
}

.rules-heading {
    margin-top: 40px;
    margin-bottom: 16px;
}

.rules-image {
    width: 240px;
    height: 240px;
}

.rules-content {
    display: flex;
    align-items: flex-start;
}

.rules-content-text {
    margin-top: 32px;
    margin-right: 16px;
}

.rules-content-text li {
    margin-bottom: 8px;
}

.rules-tab-container {
    margin-top: 40px;
}

.rules-tab-header-container {
    width: 100%;
}

.rules-tab-header a {
    cursor: pointer;
    font-size: large;
}

.rules-tab-header a.active {
    color: white;
    background-color: #dc3545;
}

@media only screen and (max-width: 480px) {
    .rules-container {
        padding-left: 24px;
        padding-right: 24px;
    }

    .rules-content {
        display: block;
    }

    .rules-image {
        margin: auto;
    }

    .rules-tab-header a {
        font-size: medium;
    }
}
