.rules-container {
    margin-bottom: 40px;
}

.rules-heading {
    margin-top: 40px;
    margin-bottom: 16px;
}

.rules-image {
    width: 240px;
    height: 240px;
}

.rules-content {
    display: flex;
    align-items: center;
}

@media only screen and (max-width: 990px) {
    .rules-content {
        align-items: flex-start;
    }

    .rules-image {
        margin-top: 12px;
    }
}

@media only screen and (max-width: 480px) {
    .rules-container {
        padding-left: 24px;
        padding-right: 24px;
    }

    .rules-content {
        display: block;
    }

    .rules-image {
        margin: auto;
    }
}
