<div class="header">
    <div>
        <img src="assets/images/Werewolf.png" class="header-image" />
        <span class="header-tagline">Nobody's safe in the village..</span>
    </div>
    <ul class="nav nav-pills justify-content-end">
        <li class="nav-item">
            <a class="nav-link" [ngClass]="[['/', '/lobby', '/game'].includes(currentUrl) ? 'active' : '']" href="/">Play Game</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [ngClass]="[currentUrl === '/roles' ? 'active' : '']" href="/roles">Roles</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Game Rules</a>
        </li>
    </ul>
</div>
