<div class="header">
    <img src="assets/images/werewolf.png" class="header-image" />
    <ul class="nav nav-pills justify-content-end header-nav">
        <li class="nav-item">
            <a class="nav-link" [ngClass]="[['/', '/lobby', '/game'].includes(currentUrl) ? 'active' : '']" [routerLink]="['/']">
                Play Game
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [ngClass]="[currentUrl === '/roles' ? 'active' : '']" [routerLink]="['/roles']">
                Roles
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [ngClass]="[currentUrl === '/game-rules' ? 'active' : '']" [routerLink]="['/game-rules']">
                Game Rules
            </a>
        </li>
    </ul>
</div>
