.header-image {
    width: 10%;
    height: 10%;
}

.header-tagline {
    margin-left: 24px;
    font-weight: 500;
    font-style: italic;
}

.jumbotron {
    padding: 0 12px;
    margin-bottom: 48px;
    display: flex;
    align-items: center;
    background-color: rgba(169, 169, 169, 0.1);
}
