<div class="container container-sm roles-container">
    <div class="col">
        <div class="row role-heading">
            There are two main roles - Werewolves and Villagers. Games can play with a variation of each of these. This version supports the following roles at the moment. Watch out as we add more roles to level up the fun!
        </div>
        <div class="row role-cards-container">
            <div class="role-card pt-3 pb-3" *ngFor="let role of data">
                <h4>{{ role.name }}</h4>
                <img [src]="role.image" class="role-image" />
                <div class="role-description">
                    {{ role.description }}
                </div>
            </div>
        </div>
    </div>
</div>
