.role-heading {
    margin: 24px;
}

.role {
    margin: 4px;
    padding: 8px;
    display: flex;
    align-items: center;
}

.role-image-container {
    width: 125px;
}

.role-image {
    width: 125px;
    transform: scale(1.5);
    object-fit: cover;
}

.role-details {
    flex: 1;
}

@media only screen and (max-width: 480px) {
    .roles-container {
        padding: 0;
    }

    .role {
        align-items: flex-start;
        padding: 0;
    }

    .role-details {
        padding-top: 8px;
    }
}
